
{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>this is from the template: {{index .StringMap "test"}}</h3>

        </div>
        <img src="/static/images/woman-laptop.png" height="1337" width="2400" alt="">
    </div>
</div>
{{end}}

